<footer class="premium-footer">

    <div class="container">

        <div class="row gy-5">

            <!-- Logo -->

            <div class="col-lg-4">

                <h2 class="footer-logo">

                    <i class="fa-solid fa-house-chimney"></i>

                    StaySphere

                </h2>

                <p class="footer-text">

                    Discover luxury villas, mountain cabins, beach resorts
                    and unforgettable stays across the world.

                </p>

                <div class="footer-social">

                    <a href="https://github.com/Shrishtipareek" target="_blank">

                        <i class="fa-brands fa-github"></i>

                    </a>

                    <a href="https://www.instagram.com/shrishtipareek07" target="_blank">

                        <i class="fa-brands fa-instagram"></i>

                    </a>

                    <a href="https://www.linkedin.com/in/shrishti-pareek-2899ab291" target="_blank">

                        <i class="fa-brands fa-linkedin-in"></i>

                    </a>

                </div>

            </div>

            <!-- Links -->

            <div class="col-lg-2">

                <h5>Explore</h5>

                <ul class="footer-links">

                    <li><a href="/">Home</a></li>

                    <li><a href="/listings">Listings</a></li>

                    <li><a href="/listings/new">Become Host</a></li>

                </ul>

            </div>

            <!-- Company -->

            <div class="col-lg-2">

                <h5>Company</h5>

                <ul class="footer-links">

                    <li><a href="#">About</a></li>

                    <li><a href="#">Contact</a></li>

                    <li><a href="#">Careers</a></li>

                </ul>

            </div>

            <!-- Contact -->

            <div class="col-lg-4">

                <h5>Contact</h5>

                <p>

                    <i class="fa-solid fa-location-dot"></i>

                     Kanpur, Uttar Pradesh, India

                </p>

                <p>

                    <i class="fa-solid fa-envelope"></i>

                    support@staysphere.com

                </p>

                <p>

                    <i class="fa-solid fa-phone"></i>

                    +91 8810871246

                </p>

            </div>

        </div>

        <hr>

        <div class="footer-bottom">

            <p>

                © 2026 StaySphere • Made with ❤️ by <b>Shrishti Pareek</b>

            </p>

            <div>

                <a href="/privacy">Privacy</a>

                <span>|</span>

                <a href="/terms">Terms</a>

            </div>

        </div>

    </div>

</footer>
